autom4te.cache/
arith/.deps/
*.o
arith/.dirstamp
ecc/.deps/
ecc/.dirstamp
misc/.deps/
misc/.dirstamp
Makefile
Makefile.in
aclocal.m4
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
.vscode
libsgx_tpbc.a